@font-face{
    font-family:'Sofia Pro';
    src:url('/font/sofia-pro/sofia-pro-regular-webfont.eot');
    src:url('/font/sofia-pro/sofia-pro-regular-webfont.woff') format('woff'), url('/font/sofia-pro/sofia-pro-regular-webfont.ttf') format('truetype'), url('/font/sofia-pro/sofia-pro-regular-webfont.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}

*,*:before,*:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

html{
    font-size:10px;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

body{
    margin:0;
    font-size:22px;
    margin:0;
    color:#e1eef6;
    background:#004e66;
    font-family:sans-serif;
    -webkit-font-smoothing:antialiased
}
.fonts-loaded body{
    font-family:"Sofia Pro", sans-serif;
    letter-spacing:0.3px
}
html:not(.fonts-loaded) body{
    font-family:Arial,sans-serif;
    line-height:1.4;
    letter-spacing:0.6px;
}

main{
    margin:0 auto;
    padding:20px;
    max-width:1300px;
    min-height: 100vh;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-justify-content:space-around;
    justify-content:space-around
}

section{
    width:550px;
    display: flex;
    align-items: center;
}

h1,h2{
    font-weight:normal
}
h1{
    font-size:48px;
    margin:0.67em 0 1rem;
    line-height:1
}
h2{
    margin-top:0;
    margin-bottom:50px;
    font-size:30px
}

p{
    margin-bottom:36px
}

a{
    background-color:transparent;
    text-decoration:none;
    color:#fcbe32;
    transition:150ms;
    -webkit-transition:150ms;
    -ms-transition:150ms
}
a:active,a:hover{
    outline-width:0;
    color:#f70;
    border-bottom:solid 1px #f70
}

pre{
    font-size:2.8vw;
    font-weight:bold;
    line-height:normal;
    margin:0;
    font-family:Courier,"Courier New",Consolas,"Liberation Mono",monospace
}
@media (min-width:550px){
    pre{
        font-size:16.5px
    }
}

