@import "base";

@font-face {
  font-family: "Museo Sans";
  src: url("/font/museo-sans/museosans-300-webfont.eot");
  src: url("/font/museo-sans/museosans-300-webfont.eot?#iefix") format("embedded-opentype"),
    url("/font/museo-sans/museosans-300-webfont.woff") format("woff"),
    url("/font/museo-sans/museosans-300-webfont.ttf") format("truetype"),
    url("/font/museo-sans/museosans-300-webfont.svg#svgFontName") format("svg");
  font-weight: 300;
}
@font-face {
  font-family: "Museo Sans";
  src: url("/font/museo-sans/museosans-300italic-webfont.eot");
  src: url("/font/museo-sans/museosans-300italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/font/museo-sans/museosans-300italic-webfont.woff") format("woff"),
    url("/font/museo-sans/museosans-300italic-webfont.ttf") format("truetype"),
    url("/font/museo-sans/museosans-300italic-webfont.svg#svgFontName") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url("/font/museo-sans/museosans-700-webfont.eot");
  src: url("/font/museo-sans/museosans-700-webfont.eot?#iefix") format("embedded-opentype"),
    url("/font/museo-sans/museosans-700-webfont.woff") format("woff"),
    url("/font/museo-sans/museosans-700-webfont.ttf") format("truetype"),
    url("/font/museo-sans/museosans-700-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
}


svg {
  fill: currentColor;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 92.5rem) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

body {
  max-width: 700px;
  margin: 1rem auto 5rem;
  //font-family: "Sorts Mill Goudy", serif;
  font-family: "Museo Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #333;
  background: #fff;
  line-height: 1.6;
}

strong {
  font-weight: 700;
}

#home {
  text-align: center;
  margin-bottom: 3rem;
}

main {
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  margin-bottom: 1rem;
}
h1,
.date {
  text-align: center;
}
.date {
  margin-bottom: 3rem;
  font-style: italic;
}

.back {
  font-size: 1rem;
}

a {
  color: $blue2;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $active-link;
    text-decoration: underline;
    text-decoration-color: $active-link;
    text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.end {
  text-align: center;
}

p {
  margin-bottom: 2.5rem;
}

table {
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

blockquote {
  border-left: solid 0.5rem #e1e1e1;
  padding-left: 2rem;
  margin-left: 0;
}

.all-posts {
  list-style: none;
  li {
    margin-bottom: 0.3rem;
  }
}

code {
  // font-family: "Source Code Pro", monospace;
  font-family: monospace;
  font-size: 0.9rem;
  color: $code;
}

pre {
  display: block;
  overflow: auto;
}
