@import "base";

@font-face {
  font-family: "Sofia Pro";
  src: url("/font/sofia-pro/sofia-pro-regular-webfont.eot");
  src: url("/font/sofia-pro/sofia-pro-regular-webfont.woff") format("woff"),
    url("/font/sofia-pro/sofia-pro-regular-webfont.ttf") format("truetype"),
    url("/font/sofia-pro/sofia-pro-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

html {
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 2rem;
  color: $silver;
  background: $blue;
  font-family: "Sofia Pro", Arial, sans-serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
}

main {
  margin: 0 auto;
  padding: 8rem 4rem;
  max-width: 1300px;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 4rem;
}

section {
  width: 550px;
  display: flex;
  align-items: center;
  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
}
@media (min-width: 550px) {
  section > div {
    gap: 4rem;
  }
}

h1 {
  font-weight: normal;
  margin: 0;
  font-size: 48px;
  //margin: 0.67em 0 1rem;
  margin-bottom: 1rem;
  line-height: 1;
}

p {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: $link;

  box-shadow: inset 0 -3px lighten($blue, 10%);
  transition: background 100ms cubic-bezier(0.33, 0.66, 0.66, 1);

  &:active,
  &:hover {
    background: lighten($blue, 10%);
  }
}

.social {
  display: flex;
  align-content: space-around;
  width: 100%;
  //margin: 1rem auto;

  a {
    flex: 1;
    text-align: center;
    padding: 5px 3px 0;
    box-shadow: none;
  }

  svg {
    height: 2.75rem;
    width: 2.75rem;
  }
}
@media (min-width: 550px) {
  .social a {
    margin-top: -2rem;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.grin {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: -4px;
    bottom: -8px;
    height: 64px;
    width: 110%;
    border: solid 4px $link;
    border-color: transparent transparent $link transparent;
    border-radius: 50%;
  }
}

//.grin:hover {
//  background-image: linear-gradient(
//                  225deg,
//                  #231557 0%,
//                  #44107a 29%,
//                  #ff1361 67%,
//                  #fff800 100%
//  );
//  background-size: auto auto;
//  background-clip: border-box;
//  -webkit-background-clip: text;
//  background-size: 200% auto;
//  color: #fff;
//  background-clip: text;
//  text-fill-color: transparent;
//  -webkit-text-fill-color: transparent;
//  animation: textclip 2s linear infinite;
//  animation-direction: reverse;
//  display: inline-block;
//}
//@keyframes textclip {
//  to {
//    background-position: 200% center;
//  }
//}

pre#art {
  font-size: 2.8vw;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  font-family: Courier, "Courier New", Consolas, "Liberation Mono", monospace;
}
@media (min-width: 550px) {
  pre#art {
    font-size: 16.5px;
  }
}
