@import "base";

@font-face {
  font-family: "Sofia Pro";
  src: url("/font/sofia-pro/sofia-pro-regular-webfont.eot");
  src: url("/font/sofia-pro/sofia-pro-regular-webfont.woff") format("woff"),
    url("/font/sofia-pro/sofia-pro-regular-webfont.ttf") format("truetype"),
    url("/font/sofia-pro/sofia-pro-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

html {
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  font-size: 2.2rem;
  margin: 0;
  color: $silver;
  background: $blue;
  font-family: "Sofia Pro", Arial, sans-serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
}

main {
  margin: 0 auto;
  padding: 20px;
  max-width: 1300px;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 4rem;
}

section {
  width: 550px;
  display: flex;
  align-items: center;
  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
}
@media (min-width: 550px) {
  section > div {
    gap: 4rem;
  }
}


h1,
h2 {
  font-weight: normal;
  margin: 0;
}
h1 {
  font-size: 48px;
  //margin: 0.67em 0 1rem;
  margin-bottom: 1rem;
  line-height: 1;
}
h2 {
  //margin-top: 0;
  //margin-bottom: 50px;
  font-size: 30px;
}

p {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: $link;

  //border-bottom: 2px solid lighten($link, 20%);
  //transition: 150ms;
  box-shadow: inset 0 -3px lighten($blue, 10%);
  transition: background 100ms cubic-bezier(.33,.66,.66,1);

  &:active,
  &:hover {
//    outline-width: 0;
//    color: $active-link;
//    border-bottom: solid 1px $active-link;
    background: lighten($blue, 10%);
  }
}


.social {
  display: flex;
  align-content: space-around;
  width: 100%;
  //margin: 1rem auto;

  a {
    flex: 1;
    text-align: center;
    padding: 5px 3px 0;
    box-shadow: none;

    &:active,
    &:hover {
      //border-bottom: none;
    }
  }

  svg {
    height: 2.75rem;
    width: 2.75rem;
  }
}
@media (min-width: 550px) {
  .social a {
    margin-top: -2rem;
    margin-left: 15px;
    margin-right: 15px;
  }
}


ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;

  li {
    padding-left: 2rem;
    position: relative;

    &:before {
      display: block;
      content: "-";
      position: absolute;
      top: -0.5rem;
      left: 0;
      font-size: 2.4rem;
    }
  }
}

.posts {
  padding-left: 1.5rem;
}


.grin {
  position: relative;
  //margin-right: 1rem;

  &:after {
    content: "";
    position: absolute;
    left: -8px;
    bottom: -2px;
    height: 64px;
    width: 120%;
    border: solid 2px $link;
    border-color: transparent transparent $link transparent;
    border-radius: 50%;
  }
}

//.grin:hover {
//  background-image: linear-gradient(
//                  225deg,
//                  #231557 0%,
//                  #44107a 29%,
//                  #ff1361 67%,
//                  #fff800 100%
//  );
//  background-size: auto auto;
//  background-clip: border-box;
//  -webkit-background-clip: text;
//  background-size: 200% auto;
//  color: #fff;
//  background-clip: text;
//  text-fill-color: transparent;
//  -webkit-text-fill-color: transparent;
//  animation: textclip 2s linear infinite;
//  animation-direction: reverse;
//  display: inline-block;
//}
//@keyframes textclip {
//  to {
//    background-position: 200% center;
//  }
//}

pre#art {
  font-size: 2.8vw;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  font-family: Courier, "Courier New", Consolas, "Liberation Mono", monospace;
}
@media (min-width: 550px) {
  pre#art {
    font-size: 16.5px;
  }
}


/*
.grin {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
}
*/


// Flashy links
// https://codepen.io/giuliamalaroda/pen/QBOGdG
/*
a {
   text-decoration: none;
   line-height: 1; //19px;
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 5px 5px;
   overflow: hidden;
   color: $link;
   vertical-align: bottom;
   transition: color .3s ease-out;
}
a::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   //background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
   background-image: linear-gradient(60deg, lighten($blue,30%) 0%, #c2e59c 100%);
   transition: transform .2s ease-out;
}
a:hover {
   color: #fff;
}
a:hover::before {
   transform: translateY(0);
   transition: transform .2s ease-out;
}
.social a { padding-bottom: 5px }
*/
