@import "base";

@font-face {
  font-family: "Sofia Pro";
  src: url("/font/sofia-pro/sofia-pro-regular-webfont.eot");
  src: url("/font/sofia-pro/sofia-pro-regular-webfont.woff") format("woff"),
    url("/font/sofia-pro/sofia-pro-regular-webfont.ttf") format("truetype"),
    url("/font/sofia-pro/sofia-pro-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

html {
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 22px;
  margin: 0;
  color: $silver;
  background: $blue;
  font-family: "Sofia Pro", Arial, sans-serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
}

main {
  margin: 0 auto;
  padding: 20px;
  max-width: 1300px;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

section, aside {
  width: 550px;
  display: flex;
  align-items: center;
}

h1,
h2 {
  font-weight: normal;
}
h1 {
  font-size: 48px;
  margin: 0.67em 0 1rem;
  line-height: 1;
}
h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 30px;
}

p {
  margin-bottom: 36px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: $link;

  //border-bottom: 2px solid lighten($link, 20%);
  //transition: 150ms;
  box-shadow: inset 0 -3px lighten($blue, 10%);
  transition: background 100ms cubic-bezier(.33,.66,.66,1);

  &:active,
  &:hover {
//    outline-width: 0;
//    color: $active-link;
//    border-bottom: solid 1px $active-link;
    background: lighten($blue, 10%);
  }
}

.social {
  display: flex;
  align-content: space-around;
  //width: 65%;
  margin: 6rem auto;

  a {
    flex: 1;
    text-align: center;
    padding: 5px 3px 0;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: none;

    &:active,
    &:hover {
      //border-bottom: none;
    }
  }

  svg {
    height: 2.75rem;
    width: 2.75rem;
  }
}

pre {
  font-size: 2.8vw;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  font-family: Courier, "Courier New", Consolas, "Liberation Mono", monospace;
}
@media (min-width: 550px) {
  pre {
    font-size: 16.5px;
  }
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;

  li {
    padding-left: 2rem;
    position: relative;

    &:before {
      display: block;
      content: "-";
      position: absolute;
      top: -0.5rem;
      left: 0;
      font-size: 2.4rem;
    }
  }
}

.posts {
  padding-left: 1.5rem;
}



// Flashy links
// https://codepen.io/giuliamalaroda/pen/QBOGdG
/*
a {
   text-decoration: none;
   line-height: 1; //19px;
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 5px 5px;
   overflow: hidden;
   color: $link;
   vertical-align: bottom;
   transition: color .3s ease-out;
}
a::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   //background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
   background-image: linear-gradient(60deg, lighten($blue,30%) 0%, #c2e59c 100%);
   transition: transform .2s ease-out;
}
a:hover {
   color: #fff;
}
a:hover::before {
   transform: translateY(0);
   transition: transform .2s ease-out;
}
.social a { padding-bottom: 5px }
*/
